/* Links and text selection */

.babyx a,
.babyx a:active,
.babyx a:focus,
.babyx a:hover,
.babyx a:visited {
  color: #4cd473;
  border: none;
}

.babyx ::-moz-selection{background:#4cd473;color:#fff;text-shadow:none}
.babyx ::selection{background:#4cd473;color:#fff;text-shadow:none}

/* Layout */

.babyx_index {
  text-align: center;
}

.babyx_index header h1 {
  text-align: center;
  float: none;
  clear: both;
  margin: 30px 0 10px;
}

.babyx_index header h1 a,
.babyx_index header h1 a:active,
.babyx_index header h1 a:focus,
.babyx_index header h1 a:hover,
.babyx_index header h1 a:visited {
    border: none;
    color: #fff;
    background-color: #4cd473;
    padding: 10px 20px;
}

.babyx nav.sites { color: #4cd473 }
.babyx nav.sites .current_site img { border-color: #4cd473 }
