/* Layout */

.brendan {
  background-color: #fff;
  color: #171d1c;
  min-width: 300px;
}

.brendan #container {
  width: 100%;
  padding: 0;
  margin: 0 auto;
  max-width: none;
}

.brendan article {
  width: 100%;
  padding: 0 50% 1% 2%;
  box-sizing: border-box;
  float: left;
  height: 100%;
  overflow-y: auto;
}

.brendan #sidebar {
  background-image: url('/images/brendan/sidebar.jpg');
  background-position: center center;
  background-size: cover;
  height: 100%;
  position: fixed;
  width: 30%;
  left: 70%;
}

/* Header */

.brendan header {
  padding: 1% 2%;
}

.brendan header h1 {
  font-size: 45px;
  line-height: 60px;
  height: 60px;
  margin: 0;
  padding: 0;
}

.brendan header h1 a {
  border-bottom: none;
  color: #000;
  display: block;
}

.brendan header h1 a:active,
.brendan header h1 a:focus,
.brendan header h1 a:hover,
.brendan header h1 a:visited {
  color: #000;
}

/* Content */

.brendan_index p:first-child {
  font-size: 28px;
  line-height: 42px;
}

ul.brendan_posts {
  list-style: none outside none;
  margin-left: 0;
}

ul.brendan_posts li {
  margin: 0 0 10px;
}

ul.brendan_posts .post-date {
  width: 105px;
  color: #666;
  display: inline-block;
}

.brendan_post article img {
  clear: both;
  display: block;
}

.noscript {
  text-align: center;
}

/* Footer */

.brendan footer {
  color: #666;
  font-style: italic;
}

/* Content lists */

.brendan ul.social{
  margin: 40px 0 0;
}

.brendan .noscript ul.social {
  margin-left: auto;
  margin-right: auto;
  width: 420px;
}

.brendan ul.social li {
  list-style: none outside none;
  float: left;
  text-align: center;
  margin-right: 20px;
  padding: 0;
  width: 22%;
  min-width: 140px;
  height: 100px;
}

.brendan ul.social a {
  width: 100%;
  float: left;
  padding: 10px;
  border: none;
}

.brendan ul.social img {
  width: 40px;
  height: 40px;
  float: left;
}

.brendan ul.social span {
  float: left;
  margin-left: 12px;
  border-bottom: 1px solid #aaa;
}

/* Resume page */

.brendan_resume article h3{margin:30px 0 0;width:180px;float:left;display:table-cell;clear:left;text-transform:uppercase;font-size:18px;font-weight:bold}
.brendan_resume article h3.nomargin{margin:0}
.brendan_resume article h4{margin:0}
.brendan_resume article ul{margin:0;padding:0;display:table-cell}
.brendan_resume article p{clear:none;margin:0;padding:0 0 20px;display:table-cell}
.brendan_resume article li{list-style:none outside none;margin:0;padding:0;display:table-row}
.brendan_resume article strong{color:#333;font-style:normal;clear:right;display:block;margin:30px 0 10px}
.brendan_resume article em{color:#333;clear:right;display:block;font-size:16px;font-style:normal;margin:-5px 0 10px}
.brendan_resume article em a,.brendan_resume article em a:active,.brendan_resume article em a:focus,.brendan_resume article em a:hover{color:#333}
.brendan_resume article blockquote{padding:0;margin:0;width:auto;display:table-row;background-color:transparent;font-style:italic}
.brendan_resume article blockquote p:last-child{padding-bottom:0}

/* Alterations for certain screen sizes */

@media only screen and (max-width:1300px) {
  .brendan article {
    padding-right: 35%;
  }
}

@media only screen and (max-width:1100px) {
  .brendan #sidebar {
    height: 350px;
    width: 100%;
    position: static;
    left: 0;
  }

  .brendan header {
    width: 100%;
    margin-top: 3%;
  }

  .brendan article {
    width: 100%;
    padding: 2%;
    box-sizing: border-box;
    float: left;
    position: static;
    top: 0;
    left: 0;
    height: 100%;
    overflow-y: auto;
  }
}

@media only screen and (max-width:760px) {
	ul.brendan_posts .post-date {
    display: block;
    width: auto;
  }

	.brendan_resume article h3,.brendan_resume article p,.brendan_resume article ul{display:block;width:auto;clear:both}
	.brendan_resume article p{margin-top:30px;padding:0;float:left}
	.brendan_resume article blockquote p{margin-top:0}
}

@media only screen and (max-width:650px) {
  .brendan #sidebar {
    height: 220px;
  }
}

@media only screen and (max-width:600px) {
	ul.post-listing li.featured .image{display:none}
	ul.post-listing li.featured .info{max-width:100%;margin-left:0}
	article img{max-width:100%}
	form input.text{width:65%;max-width:none}
	footer .about{margin:0 0 5%}
}

@media only screen and (max-width:450px) {
  .brendan #sidebar {
    height: 150px;
  }

  .noscript ul.social{
    width: 100%;
  }
}

/* Print styles */

@media print {
  .brendan_resume #sidebar {
    display: none;
  }

  .brendan_resume article {
    margin: 0;
    padding: 0 2%;
    width: 100%;
  }

  .brendan_resume article a:after {
    content: " (" attr(href) ") ";
    font-size: 0.8em;
    font-weight: normal;
  }
}
