/* Layout */

body {
  background-color: #efe9f4;
  color: #171d1c;
}

.brendan #container {
  width: 100%;
  padding: 0;
  margin: 0;
  max-width: none;
}

.brendan header {
  width: 100%;
  padding: 0;
}

.brendan article {
  width: 100%;
  padding: 20px;
  max-width: 850px;
  box-sizing: border-box;
}

/* Header */

.brendan header {
  float: left;
  background-image: url('/images/brendan/header-large.jpg');
  background-position: center center;
  background-size: cover;
  height: 500px;
  vertical-align: baseline;
  position: relative;
}

.brendan header h1 {
  font-size: 30px;
  line-height: 50px;
  margin: 0;
  float: left;
  clear: none;
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.brendan header h1 a {
  border-bottom: none;
  color: #fff;
  background-color: #171d1c;
  padding: 10px 20px;
}

.brendan header h1 a:active,
.brendan header h1 a:focus,
.brendan header h1 a:hover,
.brendan header h1 a:visited {
  color: #fff;
}

/* Content */

.brendan_index p:first-child {
  font-size: 28px;
  line-height: 42px;
}

ul.brendan_posts {
  list-style: none outside none;
  margin-left: 0;
}

ul.brendan_posts .post-date {
  width: 105px;
  color: #666;
  display: inline-block;
}

.brendan_post article img {
  clear: both;
  display: block;
}

.brendan a,
.brendan a:active,
.brendan a:focus,
.brendan a:hover,
.brendan a:visited {
  color: #16bac5;
  border: none;
}

/* Footer */

.brendan footer {
  color: #666;
  font-style: italic;
}

/* Content lists */

ul.social{margin:40px 0 0}
ul.social li{list-style:none outside none;float:left;text-align:center;margin-right:20px;padding:0;width:40px;height:40px}
ul.social a{width:40px;height:40px;padding:10px}
ul.social img{width:40px;height:40px}

/* Resume page */

.brendan_resume header{height:100px;background:none;color:#000}
.brendan_resume article h3{margin:30px 0 0;width:180px;float:left;display:table-cell;clear:left;text-transform:uppercase;font-size:18px;font-weight:bold}
.brendan_resume article h3.nomargin{margin:0}
.brendan_resume article h4{margin:0}
.brendan_resume article ul{margin:0;padding:0;display:table-cell}
.brendan_resume article p{clear:none;margin:0;padding:0 0 20px;display:table-cell}
.brendan_resume article li{list-style:none outside none;margin:0;padding:0;display:table-row}
.brendan_resume article strong{color:#333;font-style:normal;clear:right;display:block;margin:30px 0 10px}
.brendan_resume article em{color:#333;clear:right;display:block;font-size:16px;font-style:normal;margin:-5px 0 10px}
.brendan_resume article em a,.brendan_resume article em a:active,.brendan_resume article em a:focus,.brendan_resume article em a:hover{color:#333}
.brendan_resume article blockquote{padding:0;margin:0;width:auto;display:table-row;background-color:transparent;font-style:italic}
.brendan_resume article blockquote p:last-child{padding-bottom:0}

/* Alterations for certain screen sizes */

@media only screen and (max-width:1000px) {
	.spinner{margin-top:6%}

  .brendan header {
    background-image: url('/images/brendan/header-medium.jpg');
    height: 333px;
  }
}

@media only screen and (max-width:760px) {
	ul.post-listing{margin:0}
	ul.post-listing li.featured .image{display:none}
	ul.post-listing li.featured .info{max-width:100%;width:100%;margin:0}
	.brendan_resume article h3,.brendan_resume article p,.brendan_resume article ul{display:block;width:auto;clear:both}
	.brendan_resume article p{margin-top:30px;padding:0;float:left}
	.brendan_resume article blockquote p{margin-top:0}
}

@media only screen and (max-width:600px) {
	ul.post-listing li.featured .image{display:none}
	ul.post-listing li.featured .info{max-width:100%;margin-left:0}
	article img{max-width:100%}
	form input.text{width:65%;max-width:none}
	footer .about{margin:0 0 5%}

  .brendan header {
    background-image: url('/images/brendan/header-small.jpg');
    height: 200px;
  }
}
