/* Links and text selection */

.isla a,
.isla a:active,
.isla a:focus,
.isla a:hover,
.isla a:visited {
  color: #14b3fb;
  border: none;
}

::-moz-selection{background:#14b3fb;color:#fff;text-shadow:none}
::selection{background:#14b3fb;color:#fff;text-shadow:none}

/* Layout */

.isla_index {
  text-align: center;
}

.isla_index header h1 {
  text-align: center;
  float: none;
  clear: both;
  margin: 30px 0 10px;
}

.isla_index header h1 a,
.isla_index header h1 a:active,
.isla_index header h1 a:focus,
.isla_index header h1 a:hover,
.isla_index header h1 a:visited {
    border: none;
    color: #fff;
    background-color: #14b3fb;
    padding: 10px 20px;
}
