/* Header */

.murty_index header h1 {
  text-align: center;
  float: none;
  margin: 30px 0 10px;
}

.murty_index header h1 a {
  border: none;
  color: #fff;
  background-color: #00549d;
  padding: 10px 20px;
}

/* Listings */

.listing.avatars ul, .murty_index header { text-align: center; }
.listing.avatars li { margin: 0 0 50px; }
.listing.avatars img { width: 200px; border-radius: 200px; clear: both; display: block; margin: 0 auto 10px; }
.listing.avatars a { font-size: 24px; }
