/node_modules
/vendor

/public/hot
/public/storage
/public/css/*.css
/public/mix-manifest.json

/storage/*.key

npm-debug.log
yarn-error.log

.env

$RECYCLE.BIN/
.DS_Store

/.idea
/.vscode
.tags
.tags_swap
*.pdnBak
