# General settings

DirectoryIndex index.html
AddDefaultCharset UTF-8
Options -Indexes

<IfModule mod_rewrite.c>
RewriteEngine On

RewriteRule ^readme.md https://github.com/brendanmurty/website/blob/master/readme.md [R=301,L]
RewriteRule ^license.md https://github.com/brendanmurty/website/blob/master/license.md [R=301,L]
RewriteRule ^code https://github.com/brendanmurty/website [R=301,L]

RewriteCond %{HTTP_HOST} ^b\.murty\.io$ [NC]
RewriteRule ^(.*) http://murty.io/brendan/$1 [R=301,L]

RewriteCond %{HTTP_HOST} ^i\.murty\.io$ [NC]
RewriteRule ^(.*) http://murty.io/isla/$1 [R=301,L]

# Allow for Angular 1.6 HTML5 state links
# - Requests to Markdown files aren't affected
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]
RewriteRule .*[^\.md]$ index.php [L]
</IfModule>

# Customise error pages

ErrorDocument 403 /index.php
ErrorDocument 404 /index.php
ErrorDocument 500 /index.php

# Customise access to files

<Files ~ "robots.txt">
order allow,deny
allow from all
</Files>

<Files ~ "^\.htaccess">
order allow,deny
deny from all
</Files>

<Files "sitemap.xml">
order allow,deny
allow from all
</Files>

# Setup gzip compression

<IfModule mod_deflate.c>
AddOutputFilterByType DEFLATE text/text text/html text/plain text/css application/x-javascript application/javascript
AddOutputFilter DEFLATE md
</IfModule>

# Customise caching rules

<IfModule mod_expires.c>
ExpiresActive on
ExpiresDefault "access plus 1 year"
</IfModule>
