# Clean URLs, redirects and defaults

AddDefaultCharset UTF-8
<IfModule mod_rewrite.c>
Options +FollowSymLinks
RewriteEngine on
RewriteRule ^content/(.*)\.(txt|md|mdown)$ error [R=301,L]
RewriteRule ^site/(.*) error [R=301,L]
RewriteRule ^kirby/(.*) error [R=301,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^blog/rss.php /feed.xml [R=301,L]
RewriteRule ^blog/(.*) /post/$1 [R=301,L]
RewriteRule ^find /search [R=301,L]
RewriteRule ^blog /posts [R=301,L]
RewriteRule ^work /resume [R=301,L]
RewriteRule ^cv /resume [R=301,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*) index.php [L]
</IfModule>

# Customise access to files

<Files ~ "humans.txt">
order allow,deny
allow from all
</Files>
<Files ~ "robots.txt">
order allow,deny
allow from all
</Files>
<Files ~ "^\.htaccess">
order allow,deny
deny from all
</Files>
<Files ~ "^\.bak">
order allow,deny
deny from all
</Files>
<Files "sitemap.xml">
order allow,deny
allow from all
</Files>

# Setup gzip compression

<ifmodule mod_deflate.c>
AddOutputFilterByType DEFLATE text/text text/html text/plain text/xml text/css application/x-javascript application/javascript
</ifmodule>
