<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpErrors>
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="/index.php" responseMode="ExecuteURL" />
        </httpErrors>
        <rewrite>
            <rules>
                <rule name="Imported Rule 1" stopProcessing="true">
                    <match url="^content/(.*)\.(txt|md|mdown)$" ignoreCase="false" />
                    <action type="Redirect" url="error" redirectType="Permanent" />
                </rule>
                <rule name="Imported Rule 2" stopProcessing="true">
                    <match url="^site/(.*)" ignoreCase="false" />
                    <action type="Redirect" url="error" redirectType="Permanent" />
                </rule>
                <rule name="Imported Rule 3" stopProcessing="true">
                    <match url="^kirby/(.*)" ignoreCase="false" />
                    <action type="Redirect" url="error" redirectType="Permanent" />
                </rule>
                <rule name="Imported Rule 4" stopProcessing="true">
                    <match url="^panel/(.*)" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="panel/index.php" />
                </rule>
                <rule name="Imported Rule 5" stopProcessing="true">
                    <match url="^blog/rss.php" ignoreCase="false" />
                    <action type="Redirect" url="feed.xml" redirectType="Permanent" />
                </rule>
                <rule name="Imported Rule 6" stopProcessing="true">
                    <match url="^blog/(.*)" ignoreCase="false" />
                    <action type="Redirect" url="post/{R:1}" redirectType="Permanent" />
                </rule>
                <rule name="Imported Rule 7" stopProcessing="true">
                    <match url="^topic:(.*)" ignoreCase="false" />
                    <action type="Redirect" url="tag:{R:1}" redirectType="Permanent" />
                </rule>
                <rule name="Imported Rule 8" stopProcessing="true">
                    <match url="^work" ignoreCase="false" />
                    <action type="Redirect" url="/resume" redirectType="Permanent" />
                </rule>
                <rule name="Imported Rule 9" stopProcessing="true">
                    <match url="^cv" ignoreCase="false" />
                    <action type="Redirect" url="/resume" redirectType="Permanent" />
                </rule>
                <rule name="Imported Rule 10" stopProcessing="true">
                    <match url="^find" ignoreCase="false" />
                    <action type="Redirect" url="/search" redirectType="Permanent" />
                </rule>
                <rule name="Imported Rule 11" stopProcessing="true">
                    <match url="^readme.md" ignoreCase="false" />
                    <action type="Redirect" url="https://github.com/brendanmurty/website/blob/master/readme.md" redirectType="Permanent" />
                </rule>
                <rule name="Imported Rule 12" stopProcessing="true">
                    <match url="^license.md" ignoreCase="false" />
                    <action type="Redirect" url="https://github.com/brendanmurty/website/blob/master/license.md" redirectType="Permanent" />
                </rule>
                <rule name="Imported Rule 13" stopProcessing="true">
                    <match url="^(.*)" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
