<section id="sidebar"></section>

<section id="container">
  <header>
    <h1>
      <a href="{{ site_index_link }}" title="Go to the home page">
        {{ site_title }}
      </a>
    </h1>
  </header>

  <article>
    <h1>Posts</h1>

    <p ng-if="feed_url">Subscribe using the <a ng-href="{{ feed_url }}">JSON Feed</a>.</p>

    <ng-include
      ng-if="list_posts"
      src="'html/sections/list_posts.html'"
    ></ng-include>
  </article>

  <ng-include
    src="'html/sections/footer.html'"
  ></ng-include>
</section>
