<?

// Private API authentication tokens
//  - Add your relevant details below, then rename this file to "auth.php"
//  - The "auth.php" file will be ignored by Git to improve the security of your private account details

$GLOBALS['auth_instagram_client'] = 'abcd1234';
$GLOBALS['auth_instagram_secret'] = 'efgh4567';
$GLOBALS['auth_instagram_user'] = '123.456.abcdefg';
$GLOBALS['auth_twitter_token'] = '123-abcdefg';
$GLOBALS['auth_twitter_secret'] = 'abCdeFg';
$GLOBALS['auth_twitter_consumer_key'] = 'abcdEFgh';
$GLOBALS['auth_twitter_consumer_secret'] = 'iJkLmnop';

?>
