/* Styling for screen output */

/* Reset */

@-webkit-viewport{width:device-width}
@-moz-viewport{width:device-width}
@-ms-viewport{width:device-width}
@-o-viewport{width:device-width}
@viewport{width:device-width}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}
body{font:16px/1.3em sans-serif;*font-size:small}
select,input,textarea,button{font:99% sans-serif}
a:hover,a:active{outline:0}
ul,ol{margin-left:1.8em;clear:both}
ol{list-style-type:decimal}
nav ul,nav li{margin:0}
small{font-size:85%}
strong,th{font-weight:bold}
td,td img{vertical-align:top}
sub{vertical-align:sub;font-size:smaller}
sup{vertical-align:super;font-size:smaller}
textarea{overflow:auto}
input[type="radio"]{vertical-align:text-bottom}
input[type="checkbox"]{vertical-align:bottom}
label,input[type=button],input[type=submit],button{cursor:pointer}
button,input,select,textarea{margin:0}
input:invalid,textarea:invalid{border-radius:1px;-moz-box-shadow:0 0 5px red;-webkit-box-shadow:0 0 5px red;box-shadow:0 0 5px red}
::-moz-selection{background:#2ea8c0;color:#fff;text-shadow:none}
::selection{background:#2ea8c0;color:#fff;text-shadow:none}
a:link{-webkit-tap-highlight-color:#2ea8c0}
button{width:auto;overflow:visible}
input[type="submit"],input[type="text"]{line-height:normal}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}

/* General */

html{-webkit-text-size-adjust:none;-ms-text-size-adjust:none;background:#2EA8C0;height:100%;overflow-x:hidden}
body{background-color:transparent;color:#222;font:normal 400 16px/25px "Merriweather",sans-serif;padding:0;overflow-x:hidden;text-rendering:optimizeLegibility;-webkit-font-smoothing:antialiased;-moz-font-smoothing:antialiased;font-smoothing:antialiased}
h1,h2,h3,h4{font-family:"Merriweather Sans";font-weight:400;margin:5px 0 15px;padding:0;clear:both}
h1{font-size:50px;line-height:50px;font-family:"Merriweather";font-weight:700;margin-top:0}
h2{font-size:28px;line-height:32px}
h3{font-size:25px;line-height:28px}
h4{font-size:20px;line-height:25px}
p{margin:0 0 20px;clear:both}
a{color:#3fb9d1;outline:0;text-decoration:none}
a:active,a:focus,a:hover,a:visited{color:#3fb9d1;text-decoration:underline}
article a:visited{color:#83d2e1}
article h1 a,article h2 a,article h3 a{color:#fff}
img{height:auto;overflow-x:hidden}
ol{list-style:decimal outside none;margin:0 0 15px 30px}
ul{list-style:disc outside none;margin:0 0 15px 30px}
li{margin:0 0 6px}
hr{border:0 none;background-color:#222;height:2px;margin:15px 0;width:100%}
.feed li,nav li{list-style:none outside none;margin:0;padding:0}
.first{margin-top:0;padding-top:0}
.left{float:left}
.right{float:right}
.noselect,nav,.post-listing li,section#about{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none;cursor:default}
pre{width:95%;padding:1.5% 2.5%;margin:10px 0 20px;background:#333;color:#fff;white-space:pre-wrap;white-space:-moz-pre-wrap;white-space:-pre-wrap;white-space:-o-pre-wrap;word-wrap:break-word}
pre code{width:100%;font:normal 18px/23px "Source Code Pro",sans-serif}
blockquote{width:95%;padding:1.5% 2.5%;margin:10px 0 20px;background:#333;color:#fff}
#container{width:100%;height:100%;padding:0;overflow-x:hidden;margin:0 auto;-webkit-overflow-scrolling:touch}
header,footer{background:#2EA8C0;padding:1% 20%;width:60%;margin:0;clear:both;float:left}
section#about{background:#333;color:#fff;padding:2% 20%;width:60%;margin:0;clear:both;float:left;text-align:center;font-family:"Merriweather Sans"}
section#about .lighter{color:#888}
section#about em{color:#fff;font-style:normal}
section#about a:active, section#about a:hover, section#about a:focus{text-decoration:underline}
section#about p, section#about h2{margin:0;font-weight:400;font-size:30px;line-height:35px}
section#content{clear:both;width:100%;float:left;background:#222;color:#fff}
article{padding:2% 20%;width:60%;margin:0;float:left}
header h1{margin:0;display:block;overflow:hidden;float:left;clear:none;width:75%}
header h1 span{text-align:left;color:#d6f0f5;clear:left;display:block;margin:15px 0 0;font-size:22px;font-weight:400;line-height:26px}
header h1,header h1 a,header h1 a:active,header h1 a:focus,header h1 a:visited{color:#fff}
header h1 a:hover{color:#fff;text-decoration:underline}
header h1 a:focus span,header h1 a:hover span{text-decoration:none}
header .profile{float:right;height:100px;width:100px}
header .profile img{width:100px;height:100px;border-radius:100px}
#container nav{clear:both;float:left;margin:0;width:60%;padding:2% 20%;background:#2B9CB2;font:normal 400 16px/30px "Merriweather Sans"}
#container nav a{text-transform:uppercase;color:#bae6ef;margin-right:35px;display:inline-block}
#container nav a.current{color:#fff;text-decoration:none;cursor:default}
#container nav.actions{padding-top:0;background:#222}
#container nav.actions a{color:#fff;background:#3fb9d1;text-transform:none;padding:8px 15px 6px;margin:0 20px 20px 0;border-radius:2px;border-bottom:2px solid #2790A5}
#container nav.actions a:active,#container nav.actions a:focus,#container nav.actions a:hover{text-decoration:none;background-color:#2790a5}
footer{color:#f5f5f5;text-align:left}
footer .half{float:left;clear:none;width:50%;margin:0}
footer .credits,footer .about{width:100%;clear:both;float:left;text-align:center}
footer .about{margin:0 0 3%}
footer .about p{margin:0}
footer .about a{color:#f5f5f5;text-decoration:underline}
footer .credits{margin:3% 0 0;font-size:14px;color:#bae6ef}
footer .credits p{text-align:center;margin:0}
footer .credits a{color:#bae6ef;text-decoration:underline}
footer ul{margin:0;padding:0}
footer ul.stats li{list-style:none outside none;float:left;margin:0 0 4% 3%;width:47%}
footer ul.stats li:first-child{margin-left:0}
footer ul.stats a{color:#bae6ef;text-decoration:none}
footer ul.stats .number{font-size:200%;color:#fff;clear:right;display:block;margin:0 0 4px}
footer ul.stats .title{font-size:80%;text-transform:uppercase}
footer ul.stats a:hover .title{text-decoration:underline}
footer .social{margin:0 auto;width:280px}
footer .social li{list-style:none outside none;float:left;margin:0 20px 0 0;font-size:30px;width:40px}
footer .social li.last{margin-right:0}
footer .social a{color:#fff}
footer .social a:active,footer .social a:focus,footer .social a:hover,footer .social a:visited{color:#fff;text-decoration:none}
form{clear:both;width:310px;margin:10px auto 20px;height:50px}
form input.text{padding:11px;margin-right:5px;width:70%;max-width:250px;float:left;border:0 none;border-bottom:2px solid #A0A0A0;background:#e4e4e4;color:#222;border-radius:2px}
#content a.button{display:block;float:left;height:auto;width:auto;margin-left:15px;background:#3fb9d1;color:#fff;padding:0 15px;height:42px;line-height:42px;border-radius:2px;border-bottom:2px solid #2790A5}
#content a.button:active,#content a.button:focus,#content a.button:hover{background:#2790a5;color:#fff;text-decoration:none}
ul.item-listing{margin:0 0 10px;padding:0}
ul.item-listing > li,article.item .about > li{width:100%;margin:20px 0 0;list-style:none outside none;float:left}
article.item .about > li{width:auto}
ul.post-listing li:first-child,article.item .about li:first-child{margin-top:0}
ul.item-listing > li:first-child{margin-top:8px}
ul.post-listing a,ul.post-listing a:active,ul.post-listing a:hover,ul.post-listing a:focus{text-decoration:none}
ul.post-listing a:active strong,ul.post-listing a:hover strong,ul.post-listing a:focus strong{text-decoration:underline}
ul.post-listing strong{font-size:20px;line-height:30px}
ul.post-listing span{color:#f5f5f5}
ul.post-listing span.info{display:block;clear:right;margin:0}
ul.post-listing li.featured a strong,ul.item-listing .title{display:block;font-size:22px}
ul.item-listing .date,article.item .about .date,article.item .about .reading-time{clear:right;display:block;color:#888;margin:0 0 5px;font-size:16px}
ul.item-listing .instagram .description a{float:left;width:275px}
ul.item-listing .instagram .description p{margin:0}
ul.item-listing .instagram .description img{width:275px;height:275px;display:block}
ul.item-listing .instagram .description span{display:inline-block;background-color:#e4e4e4;width:255px;padding:10px;font-size:14px;line-height:20px}
ul.post-listing li.featured .image img{border-radius:90px}
ul.item-listing-tags a,ul.item-listing-tags a:active,ul.item-listing-tags a:visited,article.item .about a,article.item .about a:active,article.item .about a:visited{color:#888}
ul.item-listing-tags a,article.item .about a{-ms-word-break:break-all;word-break:break-all;word-break:break-word;-webkit-hyphens:auto;-moz-hyphens:auto;hyphens:auto}
ul.item-listing-tags a:hover,ul.item-listing-tags a:focus,ul.item-listing-tags a:active,article.item .about a:hover,article.item .about a:focus{color:#909090}
ul.item-listing i{margin:1px 5px 0 0;float:left;color:#888}
ul.item-listing li.tags i{margin-right:2px}
ul.item-listing-tags-container i{margin-right:1px}
ul.item-listing .about li,article.item .about li{margin:0 15px 0 0;line-height:18px;clear:none;float:left;list-style:none outside none}
ul.item-listing .info{display:block;clear:right;margin:0}
ul.item-listing-tags .info{line-height:100px}
ul.item-listing .info p{clear:none;float:none}
ul.item-listing .about,article.item .about{clear:none;font-size:16px;line-height:16px;margin:0;padding:0;display:inline-block;width:100%}
article.item .about{margin:0 0 10px;font-style:italic}
ul.item-listing .about li{list-style:none outside none;margin-right:0;width:100%}
article.item .about li{list-style:none outside none;float:left}
ul.item-listing .about .tags,article.item .about .tags{margin-left:3px}
ul.item-listing .about .separator,article.item .about .separator{color:#888;margin-right:3px}
ul.item-listing .about .separator.empty,article.item .about .separator.empty{margin-left:-3px}
ul.item-listing .about .separator.second-last,article.item .about .separator.second-last{margin-left:3px}
ul.item-listing .about .date .separator,article.item .about .date .separator{margin:0 0 0 3px}
p.item-listing-search-empty{text-align:center}

/* Grid view for item lists (Home, Posts, Links) */

ul.item-listing.grid{width:100%;max-width:1300px;margin:0 auto}
ul.item-listing.grid li{width:23%;margin:0 2% 2% 0}
ul.item-listing.grid a{width:100%;display:block}
ul.item-listing.grid a:active,ul.item-listing.grid a:hover{text-decoration:none}
ul.item-listing.grid a:active em,ul.item-listing.grid a:hover em{background-color:#2B9CB2}
ul.item-listing.grid img{width:100%;height:auto;display:block;min-height:300px}
ul.item-listing.grid span{height:390px;font-size:20px;line-height:30px;padding:12px 5% 0;width:90%;display:block;color:#fff;background-color:#333;word-wrap:break-word;overflow:hidden}
ul.item-listing-tags.grid span{height:80px}
ul.item-listing.grid .instagram span{height:90px;font-size:16px;line-height:22px}
ul.item-listing.grid em{color:#fff;font-style:normal;font-size:16px;width:92%;display:block;background-color:#3FB9D1;padding:0 4%;line-height:47px}
ul.item-listing.grid i{color:#fff;float:none;margin:1px 7px 0 0}

/* Formal pages (Resumé, Terms) */

.type_formal{background:#fff none 0 0 no-repeat;color:#000;height:auto}
.type_formal #container{background:#fff none 0 0 no-repeat;color:#000;padding-top:1%;height:auto}
.type_formal header{background:transparent none 0 0 no-repeat;height:auto;padding:0;margin:0 auto;text-align:left;width:100%;max-width:700px;float:none}
.type_formal footer{display:none}
.type_formal #content,.type_formal header,.type_formal #about{max-width:700px;margin:0 auto 2%;float:none;padding:0;background-color:transparent;color:#000}
.type_formal #about{background:transparent;color:#333;text-align:left;padding:0;margin-bottom:20px;width:100%}
.type_formal article{margin:0;padding:0;width:100%;background:transparent}
.type_formal h1,.type_formal h2,.type_formal h3,.type_formal h4,.type_formal a,.type_formal a:focus,.type_formal a:hover,.type_formal a:visited,.type_formal #about h2{color:#000}
.type_formal h1 a,.type_formal h1 a:active, .type_formal h1 a:focus, .type_formal h1 a:hover, .type_formal h1 a:visited{color:#000;text-decoration:none}
.type_formal header h1{line-height:100px}
.type_formal h2{margin-top:0}
.type_formal article a{text-decoration:underline}
.type_formal header h2,.type_formal header h3,.type_formal nav,.type_formal header h1 span{display:none}
.type_formal header h1{margin:0;width:80%;min-width:330px;max-width:none}
.type_formal article ul{margin:0 0 30px 40px}
.type_formal hr{background:#ccc}
.name_resume #content a.email,.name_resume #content a.print{text-align:center;display:block;margin:30px 5px;text-decoration:underline}

/* AJAX states and loading animations (https://github.com/tobiasahlin/SpinKit) */

section#content.loading{height:600px}
section#content.loaded .item-listing li{-webkit-animation: fadein 3s;-moz-animation: fadein 3s;-ms-animation: fadein 3s;-o-animation: fadein 3s;animation: fadein 3s}
.spinner{margin:40px auto 0;width:50px;height:40px;text-align:center;font-size:10px}
.spinner > div{background-color:#2EA8C0;height:100%;width:6px;margin-right:3px;display:inline-block;-webkit-animation:stretchdelay 1.2s infinite ease-in-out;animation:stretchdelay 1.2s infinite ease-in-out}
.spinner .rect2{-webkit-animation-delay:-1.1s;animation-delay:-1.1s}
.spinner .rect3{-webkit-animation-delay:-1.0s;animation-delay:-1.0s}
.spinner .rect4{-webkit-animation-delay:-0.9s;animation-delay:-0.9s}
.spinner .rect5{-webkit-animation-delay:-0.8s;animation-delay:-0.8s}
@-webkit-keyframes stretchdelay{
	0%, 40%, 100%{-webkit-transform: scaleY(0.4)}
	20%{-webkit-transform: scaleY(1.0)}
}
@keyframes stretchdelay{
	0%, 40%, 100%{transform:scaleY(0.4);-webkit-transform: scaleY(0.4)}
	20%{transform: scaleY(1.0);-webkit-transform: scaleY(1.0)}
}

/* Alterations for certain screen sizes */

@media only screen and (max-width:3000px){
	header,footer,article,section#about,#container nav{width:60%;padding:2% 20%}
}
@media only screen and (max-width:2000px){
	header,footer,article,section#about,#container nav{width:70%;padding:2% 15%}
}
@media only screen and (max-width:1600px){
	header,section#about,#container nav,.name_posts article, .name_links article, .name_tags article, .type_tag-list article, .type_home article, .name_search article{width:96%;padding:2%}
}
@media only screen and (max-width:1200px){
	ul.item-listing.grid li{width:31%}
	ul.item-listing.grid img{max-height:300px}
}
@media only screen and (max-width:1000px){
	header,footer,nav,article,section#about,#container nav{width:96%;padding:4% 2%;text-align:left}
	.type_home article{padding-top:2%}
	footer div.half{width:100%;margin:0;float:none;clear:both;text-align:center}
	footer div.half.statistics{margin:0;text-align:center}
	footer ul.stats li{margin-top:4%}
	ul.item-listing.grid li{width:100%;margin:0 0 4%}
	ul.item-listing.grid span{height:auto;padding:4%;width:92%}
	ul.item-listing.grid .instagram span{height:auto}
	ul.item-listing.grid img{max-height:none}
}
@media only screen and (max-width:760px){
	.type_home .contact a{font-size:38px;padding:4px 4px 1px}
	form{max-width:100%}
	ul.post-listing{margin:0}
	ul.post-listing li.featured .image{display:none}
	ul.post-listing li.featured .info{max-width:100%;width:100%;margin:0}
	.name_about img.profile,.name_contact img.profile{margin:0 auto 2%;float:none;clear:none;display:block}
	.name_about p,.name_contact p{clear:both}
}
@media only screen and (max-width:600px){
	body{font-size:18px;line-height:26px}
	header nav a{margin-right:4%}
	header nav a{font-size:18px}
	header h1{line-height:100px;font-size:26px;width:65%;max-width:65%}
	header h1 span{display:none}
	.type_home .posts li.more a{width:96%}
	ul.item-listing .type{height:50px;width:50px;border-radius:50px;margin-top:6px}
	ul.item-listing .type i{font-size:25px;line-height:52px}
	ul.item-listing-tags .info{line-height:27px}
	ul.item-listing .description{clear:both}
	ul.item-listing .title{line-height:55px}
	ul.item-listing > li:first-child{margin-top:0}
	ul.item-listing .about .date .separator,article.item .about .date .separator{display:none;margin:0}
	.type_formal #container{width:96%;padding:1% 2% 2%}
	.type_formal header{text-align:left}
	.type_formal header h1{line-height:50px;font-size:26px;width:100%}
	.type_formal header .profile{float:left;margin:0 0 20px}
	#container{width:100%;padding:0;text-align:left}
	ul.post-listing li.featured .image{display:none}
	ul.post-listing li.featured .info{max-width:100%;margin-left:0}
	a.print{display:none}
	h1{font-size:26px;line-height:32px}
	.type_formal header h1{line-height:50px;font-size:26px}
	h2{font-size:24px;line-height:28px}
	h3,.post-listing li a strong{font-size:20px;line-height:24px}
	h4{font-size:18px;line-height:22px}
	section#about p,section#about h2{font-size:24px;line-height:30px}
	article img{max-width:100%}
	form input.text{width:65%;max-width:none}
	ul.item-listing .title{margin-top:14px;line-height:24px}
	ul.item-listing .about{clear:both;margin:10px 0;float:left;height:auto}
	footer .about{margin:0 0 5%}
	footer .credits{margin:5% 0 0}
}
@media only screen and (max-width:380px){
	footer .social{width:100%;margin:0 0 0 2%}
	ul.item-listing .about,header .profile,ul.item-listing .type{display:none}
	ul.item-listing .description{margin-top:10px;float:left}
	header h1{line-height:50px;width:100%;max-width:100%}
	footer ul.stats li{margin:4% 0 0;width:100%}
}
