<ng-include ng-if="sites" src="'app/templates/sections/list_sites_header.html'"></ng-include>

<section id="sidebar"></section>

<section id="container">
  <header>
    <h1>
      <a href="{{ site.index_link }}" title="Go to the home page">
        {{ site.title }}
      </a>
    </h1>
  </header>

  <ng-include
    ng-if="page_content"
    src="'app/templates/sections/content_markdown.html'"
  ></ng-include>

  <ng-include
    src="'app/templates/sections/footer.html'"
  ></ng-include>
</section>
